<!DOCTYPE html>
<!-- use ng-app directive to link html page to store module/application -->
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="./bootstrap-3.3.6-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="./style.css" />
	</head>

	<!-- use ng-controller directive to link body to StoreController, using alias store -->
	<body ng-controller="StoreController as store">
		<!-- LEVEL 2: CODE -->
		<ul class ="list-group">
			<li class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
				
				<!-- used custom directive to inject product-title template into index.html-->
				<h3>
					<product-title></product-title>				
				</h3>

				<!-- use product-panels custom directive to make more description + show how to have controller logic in custom directive-->
				<product-panels> </product-panels>

			</li>
		</ul>

		<!-- LEVEL 1: CODE -->
<!--	
		<!- - use ng-hide directive to hide div if item sold out - ->
		<!- - use ng-repeat directive to iterate through products property and display div for each gem- ->
		<div ng-repeat="product in store.products" ng-hide="product.soldOut">
			<h1>{{product.name}} </h1>
			<h2> ${{product.price}} </h2>
			<p> {{product.description}} </p>

			<!- - use ng-show directive to only show button if canPurchase is true- ->
			<button ng-show="product.canPurchase">Add to Cart </button>
		</div>
-->
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="products.js"></script>
	</body>
</html>