<!DOCTYPE html>
<!-- use ng-app directive to link html page to store module/application -->
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="./bootstrap-3.3.6-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="./style.css" />
	</head>

	<!-- use ng-controller directive to link body to StoreController, using alias store -->
	<body ng-controller="StoreController as store">
		<!-- LEVEL 2: CODE -->
		<ul class ="list-group">
			<li class="list-group-item" ng-repeat="product in store.products | orderBy:'-price'">
				<h3>
					{{product.name}}
					<!-- pipe output of product.price to currency filter-->
					<em class="pull-right">{{product.price | currency}}</em>
					<!-- use ng-src directive to evaluate expression before loading image-->
					<img ng-src="{{product.images[0].thumb}}"/>
				</h3>

				<!-- use ng-controller directive to link section to PanelController in app.js-->
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<!-- use ng-class directive to add css active class if tab is selected-->
						<li ng-class="{active:panel.isSelected(1)}">
							<!-- use ng-click directive to create tabs and update tab expression -->
							<a href ng-click="panel.selectTab(1)"> Description</a> 
						</li>
						<li ng-class="{active:panel.isSelected(2)}"> 
							<a href ng-click="panel.selectTab(2)"> Specification</a> 
						</li>
						<li ng-class="{active:panel.isSelected(3)}"> 
							<a href ng-click="panel.selectTab(3)"> Reviews</a> 
						</li>
					</ul>

					<!-- use ng-show to display panel in correct tab only-->
					<div class="panel" ng-show="panel.isSelected(1)">
						<h4>Description</h4>
						<p>{{product.description}}</p>
					</div>

					<div class="panel" ng-show="panel.isSelected(2)">
						<h4>Specifications</h4>
						<blockquote>None Yet</blockquote>
					</div>

					<div class="panel" ng-show="panel.isSelected(3)">
						<h4>Reviews</h4>
						
						<!-- use ng-repeat to display review info -->
						<blockquote ng-repeat="review in product.reviews"> 
							<b> Stars: {{review.stars}} </b>
							{{review.body}}<br/>
							<cite>-{{review.author}}</cite>
						</blockquote>


						<!-- use ng-controller directive to link form to ReviewController in app.js-->
						<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

						<!-- Live Preview of review to be submitted -->
							<blockquote>
								<b> Stars: {{reviewCtrl.review.stars}} </b>
								{{reviewCtrl.review.body}}<br/>
								<cite>- {{reviewCtrl.review.author}}</cite>
							</blockquote>

							<h4>Submit a Review</h4>

							<!-- use ng-model directive to bind select to stars property in live preview-->
							<fieldset class="form-group">
								<!-- use ng-options to create options for select box-->
								<select ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" class="form-control" required>
									<option value="">Rate the Product</option>
								</select>

							</fieldset>

							<fieldset class="form-group">
								<!-- use ng-model directive to bind textarea to body property in live preview-->
								<textarea ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review" class="form-control" required></textarea>
							</fieldset>

							<fieldset class="form-group">
								<!-- use ng-model directive to bind email textbox to author property in live preview -->
								<input ng-model="reviewCtrl.review.author" type="email" placeholder="jimmyDean@example.org" title="Email" class="form-control" required/>
							</fieldset>

							<!-- debugging code to check if form is valid-->
							<div> reviewForm is {{reviewForm.$valid}} </div>

							<fieldset class="form-group">
								<input type="submit" value="Submit Review" class="btn btn-primary pull-right"/> 
							</fieldset>
								

						</form>



					</div>
				</section>

			</li>
		</ul>

		<!-- LEVEL 1: CODE -->
<!--	
		<!- - use ng-hide directive to hide div if item sold out - ->
		<!- - use ng-repeat directive to iterate through products property and display div for each gem- ->
		<div ng-repeat="product in store.products" ng-hide="product.soldOut">
			<h1>{{product.name}} </h1>
			<h2> ${{product.price}} </h2>
			<p> {{product.description}} </p>

			<!- - use ng-show directive to only show button if canPurchase is true- ->
			<button ng-show="product.canPurchase">Add to Cart </button>
		</div>
-->
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>